body {
    background-color: #000000;
    font-family: monospace;
}

.about-me {
    display: flex;
    align-items: center;
    gap: 2%;
    padding: 3%;
}

.about-me p {
    font-size: 1.4em;
    text-align: justify;   
}


.about-me img{
    border-radius: 50%;
    object-fit: cover;
    width: 20%;
}

.projects {
    display: flex; 
    justify-content: space-around;       
    gap: 5%;
    width: 94%;
    margin: 0 auto;
}

.project {
    text-decoration: none;
    padding: 0.6%;
    border: solid 1px white;
    width: 396px;
    transition: transform 0.3s ease;
    transition: box-shadow 0.3s ease;       
}

.project:hover {
    transform: scale(1.05);
    box-shadow: 1px 1px 15px rgba(255, 255, 255, 0.3);
}

.project a {
    text-decoration: none;
}

.project h2,p {
    color: #FFFFFF;        
}

.project p {
    font-size: 1.1em;
    text-align: justify;
}

footer {
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

.links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 24%;
    padding: 0;  
}

.links a {
    padding: 5px;
    color:#FFFFFF;
    font-size: 1.3em;
    text-decoration: none;
    
}

.links li {
    transition: transform 0.3s ease;
}

.links li:hover {   
    transform: scale(1.1);   
    text-decoration: underline;
}

.links a:hover {    
    font-weight: 700;
}




