body {
    background-color: #000000;
    font-family: monospace;
}

.menu {
    display: flex;
    justify-content: space-around;
}

.menu p {
    padding: 0.5em;
}

.links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 24%;
    padding: 0;  
}

.links a {
    padding: 5px;
    color:#00D700;
    font-size: 1.3em;
    text-decoration: none;
}

.links a:hover {
    color: #3465a4;
}

.message {
    color: #FFFFFF; 
    font-size: 1.3em;   
}

.projects {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    display: flex;
    flex-flow: column wrap;
}

.project {
    border: 1px solid #FFFFFF;  
    display: flex;     
}

.project div {
    flex-basis: 50%;
    padding: 5px;   
}

.project div:last-of-type {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.project a[class="button-style"] {
    background-color: #00D700;
    cursor: pointer;
    border: none;    
    color: #000000;
    font-size: 1.1em;
    padding: 3px;
    text-decoration: none;
}

.project a:hover {
    background-color: #000000;
    color: #00D700;
    font-size: 1.1em;
}

.project p {
    font-size: 1.1em;
}

.project img {
    max-width: 100%;      
}

.project h2,p {
    color: #FFFFFF;    
}


